@use 'variables' as var;

.footer {
  margin-top: 60px;
  background: var.$color-fondo-footer;
  color: var.$color-texto-claro;
  padding: 40px 20px;
  font-family: var.$fuente-duracion;

  .footer-contenedor {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    align-items: start;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      width: 80px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      font-weight: bold;
      color: var.$color-texto-claro;
    }
  }

  h4 {
    margin-bottom: 10px;
    font-family: var.$fuente-titulo;
    font-size: 18px;
    color: var.$color-texto-claro;
  }

  a {
    display: block;
    margin-bottom: 6px;
    color: #cccccc;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;

    &:hover {
      color: var.$color-texto-claro;
    }
  }

  .footer-line {
    margin: 35px auto 20px;
    width: 80%;
    border: none;
    border-top: 1px solid #555;
  }

  .footer-copy {
    text-align: center;
    font-size: 14px;
    opacity: 0.75;
    font-family: var.$fuente-subtitulo;
  }
}
