@use 'variables' as var;

.peliculas-section {
  padding: 20px;
  background-color: #f9f9f9;

  h5 {
    margin-bottom: 15px;
    font-size: 18px;
    color: var.$color-text-dark;
  }

  .peliculas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .pelicula {
    background-color: var.$color-bg-card;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .title {
      font-family: var.$font-bold;
    }

    .duracion {
      font-family: var.$font-medium;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    p {
      font-size: 14px;
      font-family: var.$font-serif;
      color: var.$color-text-muted;
      margin: 0;
      text-align: left;
    }
  }
}
