// Colores
$color-fondo-oscuro: rgba(0, 0, 0, 0.85);
$color-fondo-footer: rgba(0, 0, 0, 0.92);
$color-fondo-tarjeta: #f9f9f9;
$color-texto-claro: #fff;
$color-texto-oscuro: #333;
$color-texto-secundario: #555;

// Tipografías
$fuente-general: 'Arial, Helvetica, sans-serif';
$fuente-subtitulo: 'PT Serif', serif;
$fuente-titulo: 'Merriweather';
$fuente-nombrePeli: 'Inter', Bold;
$fuente-duracion: 'Inter', Medium;
