.footer {
  margin-top: 60px;
  background: black;
  color: #111; /* texto principal */
  padding: 40px 20px;
  font-family: 'Inter', Medium;
  transition: background 0.3s, color 0.3s;
}

.footer-contenedor {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  align-items: start; /* alinea los items arriba */
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo img {
  width: 80px;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.footer h4 {
  margin-bottom: 10px;
  font-family: 'Merriweather';
  font-size: 18px;
  color: #ffffff;
}

.footer a {
  display: block;
  margin-bottom: 6px;
  color: #948d8d;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
}

.footer a:hover {
  color: #ff6600;
}

.footer-line {
  margin: 35px auto 20px;
  width: 80%;
  border: none;
  border-top: 1px solid #ccc;
}

.footer-copy {
  text-align: center;
  font-size: 14px;
  opacity: 0.75;
  font-family: 'PT Serif', serif;
  color: #ff6600;
}

/* ============================= */
/* MODO OSCURO */
body.tema-oscuro .footer {
  background: #222;
  color: #e8e8e8;
}

body.tema-oscuro .footer-logo p,
body.tema-oscuro .footer h4,
body.tema-oscuro .footer a,
body.tema-oscuro .footer-copy {
  color: #e8e8e8;
}

body.tema-oscuro .footer a:hover {
  color: #ffffff;
}

body.tema-oscuro .footer-line {
  border-top: 1px solid #555;
}
/* Footer oscuro */

body.tema-oscuro .footer a {
  color: #ff6600;
}

