nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center; /* centra verticalmente */
  gap: 20px;
}

li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 14px 20px;
}

li a:hover {
      color: white;
  background-color: #111;
}

form.buscador {
  display: flex;
  align-items: center;
}

form.buscador input[type="text"] {
  padding: 6px 10px;
  border: 2px solid #555;   /* borde visible */
  border-radius: 4px 0 0 4px;
  outline: none;
}

form.buscador button {
  padding: 6px 10px;
  border: none;
  background-color: #555;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
